.drag-stuff {
  /* background-color: red */
  cursor: move;
  height: 100%;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  /* transition: opacity 0.2s ease-in-out; */
  /* opacity: 0; */
  opacity: 0;
  /* -webkit-user-drag: auto; */
}

.stuff-dragging {
  z-index: 100000;
  width: 10px;
  background-color: yellow;
  position: fixed;
  opacity: 1;
  /* top: 0; */
}
